<ion-view view-title="{{cocktail.nom}}">
  <ion-content class="padding">
    <img ng-src="{{image}}">
    <div class="list">
		<div class="item item-divider">
			Présentation
		</div>
		<p ng-bind-html="cocktail.preparation | newlines">
			
		</p>
		<div class="item item-divider">
			Ingrédients
		</div>
		<p ng-repeat="ingredient in cocktail.ingredients">
			{{ingredient.nom}}, dosage : {{ingredient.dosage}}
		</p>
	</div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer">
  		<a class="button button-full button-positive icon-left ion-wand animated bounceInLeft" href="">
	      Préparer
	    </a>
	</ion-footer-bar>
</ion-view>
