<ion-view view-title="Categories">
	
  	<ion-content class="padding">
	    <ion-list>
	      <ion-item class="animated bounceInLeft item-remove-animate item-avatar item-icon-right card" ng-repeat="categorie in categories | orderBy:'categorie' |filter:searchFilter | limitTo:numberOfItemsToDisplay" type="item-text-wrap" href="#/cocktailCategorie/{{categorie}}">   		
	        	<img ng-src="img/categorie/{{categorie}}.png">
	        	{{categorie}}
	        	<i class="icon ion-chevron-right icon-accessory"></i>       	
	      </ion-item>
	    </ion-list>
	    <ion-infinite-scroll on-infinite="addMoreItem()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
