<ion-view view-title="Accueil">
  <ion-content class="padding">
    <a class="button button-full button-positive icon-left ion-ios-wineglass" href="">
      Choix du verre
    </a>
    <a class="button button-full button-positive icon-left ion-ios-pint" href="">
      Cocktails
    </a>
    <a class="button button-full button-positive icon-left ion-wand" href="">
      Créer un cocktail
    </a>

    <ion-list class="card inset">
      <div class="item item-divider">
        Dernier cocktails
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="cocktail in cocktails | orderBy:'-dateDeModification'" type="item-text-wrap" href="#/cocktail/{{cocktail.idCocktail}}">
        <h2>{{cocktail.nom}}</h2>
        <p>{{cocktail.dateDeModification}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
